<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<title>Hello MUI</title>
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<link rel="stylesheet" href="../css/mui.min.css">
		<link rel="stylesheet" href="../css/car.css">
	</head>
	<body>
		<ul class="nav">
			<li class="allcar">汽车大全</li>
			<li class="buycar">购车指南</li>
			<li class="fine">违章曝光</li>
		</ul>
		<div id="refreshContainer" class="mui-content mui-scroll-wrapper">
			<div class="mui-scroll">
				<ul class="list">
					<!--<li class="list-item">
			      		<div>
			      			<p>动力很残暴 宝马全新一代X3首推M版性能车</p>
			      			<p class="time">发表于2016-11-29 16:01:52</p>
			      		</div>
			      		<img src="http://cms-bucket.nosdn.127.net/0b62279b51de45558c90f718cce0235720161129162217.jpeg" alt="" />
			      		<p>成都车展上混动版X1已经亮相，现在新车的配置表也出来了，看来新车上市的日子不远了。</p>
			      	</li>-->
				</ul>
			</div>
		</div>
		<img src="../icon/top.jpg" class="float-btn"/>

		<script src="../js/mui.min.js"></script>
		<script src="../js/car.js"></script>
	</script>
	</body>
</html>