<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>fitness</title>
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<link rel="stylesheet" type="text/css" href="../css/mui.min.css" />
		<style type="text/css">
			.float-btn {
				border-radius: 22px;
				width: 44px;
				height: 44px;
				position: fixed;
				right: 20px;
				bottom: 20px;
				z-index: 1000;
			}

			.mui-card-content img {
				width: 100%;
			}

			.content-digest {
				padding: 4px 10px;
				color: #444;
			}
		</style>
	</head>

	<body>
		<div id="refreshContainer" class="mui-content mui-scroll-wrapper">
			<div class="mui-scroll">
				<div class="scroll-content-wrapper" id="scroll-content-wrapper"></div>
			</div>
		</div>
		<img src="../icon/top.jpg" class="float-btn" />
		<script src="../js/mui.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/fitness.js" type="text/javascript" charset="utf-8"></script>
	</body>

</html>